<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>tamago</title>
</head>
<body>
<body style="background-color:lightslategray;">
<ul>
    <li><a href="">Info</a></li>
    <li><a th:href="'Nutrition?name='+${name}">change my meal</a></li>
    <li><a th:href="'trick?name='+${name}">check on my tricks</a></li>
    <li><a th:href="'actionHistory?name='+${name}">action history</a></li>
</ul>
<img src="img/nk.gif">
<br>
<span th:text="|This is ${name}|"></span>
<br>
<span th:text="|Currently living on ${food} and ${drink}|"></span>
<br>
<span th:text="|He knows ${trickCount} tricks|"></span>
<h2>Known tricks</h2>
<th:block>
    <span th:if="${trickCount == 0}">You know no tricks yet. Go and learn some!</span>
    <div th:unless="${trickCount == 0}" th:each="trick : ${tricks}">
        <ul>
            <div th:each="trick : ${tricks}">
                <li th:text="${trick}"></li>
            </div>
        </ul>
    </div>
</th:block>
</body>
</html>
