body {
    background-image: url(topography.png);
    padding: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1{
    font-size: 50px;
}

h2{
    color: #ff0099;
}
h3{
    text-alig: center;
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    text-align: center;
}
header {
    background-color: #333333;
}